<%= form_for(:orderdetail) do |f| %>
<tr>
  <td valign="top" width="50px" >      
      <%= image_tag(orderdetail["Product"].urlImage)%>
  </td>
  <td valign="top">
    <span style="color:black"><b><%= orderdetail["Product"].name %></b> </span><br>
      <b>Giá: <span style="color:#6d2524"><%= orderdetail["Product"].price %></span></b> X
        
        <%= f.text_field :Quantity, :value => orderdetail["Quantity"] , class: 'form-control text-quantity' %>
        <span class="linkitem">
        <%= f.hidden_field :product_id, :value => orderdetail["Product"].id %>        
        <%= f.submit "Update" ,:class => "btn btn-primary btn-cart"  %>       

        
        <%= link_to " Cancel", "orderdetails/" + orderdetail["Product"].id.to_s , method: :delete,
		                                  data: { confirm: "You sure?" },:class => "btn btn-primary btn-cart" %>

        <br/>
      </span>
  </td>
</tr>
<tr><td colspan="2"></td></tr>
<% end %>

