<div id="main"> 
 <div id="sidebar">
    <ul class="categories">
      <% @categories.each do |cat| %>
      <p>
        <%= link_to cat.name, products_path(:cat_id => cat.id) %>
      </p>  
      <% end %>
    </ul>
  </div>
  <div id="content">
    <%= render 'layouts/search' %>
    <h1>Update your profile</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>     
          <br/>
          <%= f.submit "Save changes", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div> 
</div>

