<div id="main"> 
 <div id="sidebar">
    <ul class="categories">
      <% @categories.each do |cat| %>
      <p>
        <%= link_to cat.name, products_path(cat_id: cat.id) %>
      </p>  
      <% end %>
    </ul>
  </div>
  <div id="content">
    <%= render 'layouts/search' %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <h1>Profile</h1>
              <%= form_for(:user) do |f| %>    
                <%= f.label "Họ tên " %>      
                <%= f.text_field :name,  :value => @user.name, readonly: true,class: 'form-control' %>

                <%= f.label "Email" %>
                <%= f.text_field :email,  :value => @user.email, readonly: true,class: 'form-control' %>
              <% end %>
              <br/>
              <%= button_to "Trở về trang chủ", root_path, :class => "btn btn-primary" ,:method => :get  %><br />
        </div>        
      </div>
  </div>
</div>