<div id="main">
 <div id="sidebar">
    <ul class="categories">
      <% @categories.each do |cat| %>
      <p>
        <%= link_to cat.name, products_path(:cat_id => cat.id) %>
      </p>  
      <% end %>
    </ul>
  </div>
  <div id="content">
    <%= render 'layouts/search' %> 
      <div class="cont_wrap">
      <% if @products.size > 0 %>
      <%= will_paginate %>
      <ul class="products">        
      <% @products.each do |product| %>
	      <div class="cont_box">
  	       <p class="product_img"><%= link_to image_tag(product.urlImage), productdetail_path(id: product.id ) %></p>
  		     <p class="product_name"><%= link_to product.name.truncate(50) , productdetail_path(id: product.id ) %></p>
           <p class="product_price"><%= product.price %></p>         
	      </div>
      <% end %>
      </ul>  
  </div>    
  <% else %>
    <h2>There no item at the present</h2>
  <% end %>
  </div> 
</div>