

<div id="main"> 
 <div id="sidebar">
    <ul class="categories">
      <% @categories.each do |cat| %>
      <p>
        <%= link_to cat.name, products_path(:cat_id => cat.id) %>
      </p>  
      <% end %>
    </ul>
  </div>
  <div id="content"> 
      <h1>Products detail</h1>
<div id="main">
    <div class="cont_wrap">    
      <ul class="catagories">
         <div class="img_div" height = "100%" >
           <%= image_tag(@product.urlLargeImage)%>
         </div>
         <div class="info_div">
           <p font-size = "19px"><%= @product.name %></p>
           <p>Gia: <%= @product.price %></p>
           <p><b>Information</p></b>
           <p><%= @product.description %></p>
           
         </div>
      </ul>
    </div>
 
</div>    
  </div> 
</div>